@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  background-image: linear-gradient(to right top, #7922f2, #5b22d0, #411fae, #291a8c, #13136b, #3c0c64, #52055d, #620355, #9d0a54, #cc3546, #e9682f, #f29f05);
}
